@import '../base/mixin';
.Secciones2 {
    height: 600px;
    width: 100%;
    background-color: white;
}

.Secciones2 h2 {
    width: 100%;
    height: 50px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(117, 8, 131, 1) 0%, rgba(155, 65, 193, 1) 100%);
    text-align: center;
    margin-top: 5px;
    line-height: 50px;
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 15%) repeat(7, 10%);
    grid-template-rows: 50px repeat(2, 160px) repeat(2, 115px);
}

.divComercios {
    grid-area: 1 / 1 / 2 / 3
}

/* Estilos de mapa */
.mapaArgentina {
    grid-area: 1/ 1 / 6 / 3;
    @include direccion(column,18px);
    flex-wrap: nowrap;
    @extend %flex;
}

/* Textos Comercios asociados */
.textoComercios {
    grid-area: 2 / 5 / 5 / 8;
    @extend %flex;
    @include direccion(column,18px);
    justify-content: space-around;
}

.textoComercios h5 {
    border-top: none;
    font-weight: bold;
}

/* Texto que aparece solo cuando se elige un comercio asociado */
.comercio {
    background-color: white;
    grid-area: 2 / 7 / 5/ 9;
    @extend %flex;
    @include direccion(column,16px);
    padding: 2px;
    margin-top: 10px;
}