* {
    margin: 0;
    padding: 0;
    font-family: 'Alef', sans-serif;
    text-decoration: none;
    transition: all 0.3s;
    transform: all 0.3s;
    list-style: none;
}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}
h6 {
    border-top: solid white 1px;
    font-size: 12px;
}